* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #FFF;
}
#header {
	background-image: url(../images/headerfon.png);
	background-repeat: no-repeat;
	height: 194px;
	position: relative;
	margin-bottom: 20px;
}
#footer {
	clear: both;
	background-color: #FFF;
	margin-top: 10px;
	background-image: url(../images/bottom_08.png);
	height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: center;
	padding-top: 18px;
}

#wrapper {
	width: 940px;
	margin: auto;
}
#header:first-child p{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	width: 320px;
	line-height: 30px;
	color: #FFF;
	padding-top: 20px;
	text-align: center;
	padding-left: 20px;
}
#instr   {
	position: absolute;
	left: 570px;
	top: 5px;
}
#home {
	position: absolute;
	left: 800px;
	top: 5px;
}
#hometext {
	position: absolute;
	left: 750px;
	top: 33px;
	width: 150px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}
#phone {
	position: absolute;
	left: 720px;
	top: 130px;
}
#email {
	position: absolute;
	left: 720px;
	top: 160px;
}
#phonetext {
	position: absolute;
	top: 130px;
	left: 750px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}
#emailtext {
	position: absolute;
	left: 751px;
	top: 159px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}


#logo   {
	border: 0px;
	position: absolute;
	left: 380px;
	top: 5px;
	z-index: 1;
}
.menu {
	float: left;
	width: 180px;
	background: #FFF;
}
.menu ul {
	list-style-type: none;
}

#centercontent {
	background-color: #FFF;
	margin-right: 205px;
	margin-left: 185px;
	position: relative;
}
#cont {
	background-color: #FFF;
	border: 1px solid #000;
	padding: 5px;
	width: 536px;
	text-align: center;
	line-height: 25px;
}
#myNew {
    text-align: left;
}
#myNew table {
    border-collapse: collapse; 
    border: solid 1px black;
}
#myNew td {
    padding: 2px;
    border: solid 1px black;
}
#rightbar {
	float: right;
	width: 200px;
	background-color: #FFF;
	height: 100%;
	text-align: center;
}
.gos__img{
    
}
#baner {
	height: 95px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #FFF;
}
#baner p {
	font: bold 16px Georgia, serif;
	position: absolute;
	top: 9px;
	left: 100px;
}
#baner span {
	position: absolute;
	top: 30px;
	left:100px;
	height: 60px;
	overflow: hidden;
}
#baner a {
	position: absolute;
	top: 75px;
	left:445px;
	color: #06c;
	text-decoration: underline;
	cursor: pointer;
}
#niz   {
	position: absolute;
	top: 178px;
	left: 20px;
}
.menu ul li a{
	text-decoration: none;
	background-image: url(../images/but_09.png);
	display: block;
	background-repeat: no-repeat;
	height: 29px;
	padding-top: 9px;
	padding-left: 10px;
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
	border: 0px;
	color: #06c;
}
.menu ul li a:visited{
	color: #06c;
}
#rightbar p {
	font-weight: bold;
}
.menu ul li a:hover {
	height: 27px;
	padding-top: 11px;
	padding-left: 12px;
	width: 178px;
	color: #039;
}
.menu img {
	margin-bottom: 5px;
}
#arn {
	margin-bottom: 5px;
}
.licen {
	height: 270px;
	width: 178px;
	margin-bottom: 5px;
}
.randomfoto {
	margin-bottom: 10px;
}
#act {
	text-decoration: underline;
	color: #039;
}
#cont li {
	list-style-type: none;
}
#cont p {
	text-indent: 20px;
	text-align: left;
}
#cont h3 {
	margin-bottom:10px;
}
#contactTable {
	width: 100%;
}
#contactTable  td {
	text-align: left;
	vertical-align: top;
}
#metrika {
	position: relative;
	left: 50px;
}
.content__logo {
	height: 370px;
}
.zoom {
    width: 100%;
    font-family: arial;
	font-size: 18pt;
    text-indent: 10px;
	text-align: justify;
    line-height: 1.5;
}
.zoom p{
    text-align:justify;
}
@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
.flashTag {
  font-size: 18pt;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  background: green;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}